@import "w3.css";
@import "action_panel.css";
@import "sidebar.css";
@import "topbar.css";

main {
  margin-left: 15%;
}

header {
  margin: auto;
  margin-top: 3%;
  text-align: center;
}

#main-panel {
  margin: auto;
  margin-top: 2%;
  text-align: center;
  width: 80%;
  border: 2px solid black;
  border-radius:10px ;
  padding: 10px;
}

@media screen and (max-width: 500px) {
  #main-panel {
    width: 100%;
    border:  none;
  }
}

.horizontal-flex {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 500px) {
  .horizontal-flex {
    width: 100%;
  }
}

table {
  width: 100%;
  overflow-y: auto;
}

table, th, td {
  border: 4px solid black;
  border-collapse: collapse;
}

th, td {
  text-align: left;
}

tr:nth-child(even) {
  background-color: lightgrey;
}

th {
  background-color:lightslategrey ;
}
