@import "w3.css";
@import "action_panel.css";
@import "sidebar.css";
@import "topbar.css";
@import "table.css";
@import "storage.css";
@import "aside_messages.css";

main {
  margin-left: 15%;
}

header {
  margin: 3% auto;
  text-align: center;
}

section {
  margin: 2% auto;
  text-align: center;
  width: 90%;
  border: 2px solid black;
  border-radius:10px ;
  padding: 1em 1vw;
}

@media screen and (max-width: 500px) {
  section {
    width: 100%;
    border:  none;
  }
}

.horizontal-flex {
  display: flex;
  flex-direction: row;
}

.vertical-flex {
  display: flex;
  flex-direction: column;
}

.collapsing-horizontal-flex {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 640px){
  .collapsing-horizontal-flex{
    flex-direction: column;
  }
}

.full-wide {
  width: 100%;
}
