#sidenav {
  background-color: lightskyblue;
  width: 15%;
  border: 1px solid black;
}

#sidenav img {
  margin: auto;
  max-height:  20%;
  width: auto;
}

@media screen and (max-width: 992px) {
  #sidenav {
    width: 30%;
  }
}

@media screen and (max-width: 500px) {
  #sidenav {
    width: 100%;
  }
}

#sidenav .active {
  background-color: steelblue!important;
  color: white!important;
}

#sidenav .w3-button:hover:not(.active) {
  background-color: royalblue!important;
}

#sidenav a.main-page::after {
  content: url('../images/svg/people-fill.svg') " Main page";
}

#sidenav a.users::after {
  content: url('../images/svg/people-fill.svg') " Users";
}

#sidenav a.orders::after {
  content: url('../images/svg/cart-fill.svg') " Orders";
}

#sidenav a.storage::after {
  content: url('../images/svg/shop-window.svg') " Storage";
}

#sidenav a.reports::after {
  content: url('../images/svg/bar-chart-line.svg') " Reports";
}