table {
  width: 100%;
}

tr {
  overflow-x: scroll;
}

table, th, td {
  border: 3px solid black;
  border-collapse: collapse;
}
th, td {
  text-align: left;
}

td {
  border-bottom: 1px solid black;
  border-top: none;
}


td:last-child, th:last-child {
  text-align: center;
}

tr:nth-child(odd) {
  background-color: #e2e2e2;
}

th {
  background-color: #a2a8b1;
}

td > button {
  margin: 0 0.5em;
  border: none;
  background-color: inherit;
  cursor: pointer;
}
